@page

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model RememberRead.Pages.BookListModel
@{
}

<div>
	<h1>Book List</h1>

	@if (SignInManager.IsSignedIn(User))
	{
		<div>
			<a asp-page="/AddNewBook">Add New Book</a>
		</div>

		<table>
			<tr>
				<th>Book Title</th>
				<th>Book Author</th>
				<th>Additional Notes</th>
				<th>Amazon Link</th>
				<th>Edit Options</th>
			</tr>

			@foreach (var Book in Model.BookList)
			{
				<tr>
					<td>@Book.BookTitle</td>
					<td>@Book.BookAuthor</td>
					<td>@Book.AdditionalNotes</td>
					<td><a href="https://www.amazon.co.uk/s?k=@Book.BookTitle" target="_blank">@Book.BookTitle on Amazon</a></td>
					<td>
						<form method="post">
							<input type="hidden" name="id" value="@Book.Id" />
							<button type="submit">Delete</button>
							<a asp-page="/EditBook" asp-route-id="@Book.Id">Edit</a>
						</form>
					</td>
				</tr>
			}
		</table>
	}
	else
	{
		<h3>You Need to sign in to use this function</h3>
	}
</div>