@page

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model RememberRead.Pages.BookListModel
@{
}

<div class="bookListContainer">
	<h1>Book List</h1>

	@if (SignInManager.IsSignedIn(User))
	{
		<table class="bookListTable">
			
			<a class="button" asp-page="/AddNewBook">Add New Book</a>
			
			<!--Search Bar -->
			<form method="post" asp-page-handler="Search">
				<label for="searchBy">Search By</label>
				<select name="searchBy">
					<option value="title">Title</option>
					<option value="author">Author</option>
				</select>
				<label for="search">Search for</label>
				<input name="searchString" type="text" />
				<button class="button" type="submit">Search</button>
				<a class="button" asp-page="/BookList"><i class="fa-solid fa-xmark"></i></a>
			</form>

			<tr>
				<th>Book Title</th>
				<th>Book Author</th>
				<th>Additional Notes</th>
				<th>Amazon Link</th>
				<th>Edit Options</th>
			</tr>

			@foreach (var Book in Model.BookList)
			{
				<tr class="tableRow">
					<td>@Book.BookTitle</td>
					<td>@Book.BookAuthor</td>
					<td>@Book.AdditionalNotes</td>
					<td><a href="https://www.amazon.co.uk/s?k=@Book.BookTitle+book" target="_blank">@Book.BookTitle</a></td>
					<td>
						<form class="buttonForm" method="post">
							<input type="hidden" name="id" value="@Book.Id" />
							<button class="formButton" type="submit"><i class="fa fa-trash"></i> Delete</button>
							<a class="formButton" asp-page="/EditBook" asp-route-id="@Book.Id"><i class="fa fa-edit"></i> Edit</a>
						</form>
					</td>
				</tr>
			}
		</table>
	}
	else
	{
		<h3>You Need to sign in to use this function</h3>
	}
</div>